unit9/9.6_cpo_derivation_temporary/CPODerivation.synctex.gz
unit9/9.6_cpo_derivation_temporary/CPODerivation.aux
unit9/9.6_cpo_derivation_temporary/CPODerivation.log
unit9/9.6_cpo_derivation_temporary/CPODerivation.out
unit9/9.6_cpo_derivation_temporary/CPODerivation.pdf
.ipynb_checkpoints
_build
_static
.DS_Store
_build/
